
.wrapper {
    display: flex;
    align-items: stretch;
    background: #448CF3;
    width: 15%;
    float: left;
}

.navbarbrand {
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.nav-item {
    padding-right: 50px;
    padding-left: 50px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

img {max-width: 600px; height: auto;}



.list-unstyledcomponents {
    padding: 25px 25px 25px 25px;
    font-size: 22px;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.form_label {
    margin-left: 50px;
    padding-right: 20px;
}
